<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="/resource/logo-transparent.png" class="logo" alt="walkrags"></a>
        <div>
            {{> navbar}}
        </div>
    </section>

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="{{ product.image_url }}" width="100%" id="MainImg" alt="{{ product.name }}">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="{{ product.image_url }}" width="100%" class="small-img" alt="{{ product.name }}">
                </div>
                <div class="small-img-col">
                    <img src="{{ product.image_url }}" width="100%" class="small-img" alt="{{ product.name }}">
                </div>
                <div class="small-img-col">
                    <img src="{{ product.image_url }}" width="100%" class="small-img" alt="{{ product.name }}">
                </div>
                <div class="small-img-col">
                    <img src="{{ product.image_url }}" width="100%" class="small-img" alt="{{ product.name }}">
                </div>
            </div>
        </div>

        <div class="single-pro-details">
            <h6>Home / {{ product.Category.name }} / {{ product.Brand.name }}</h6>
            <h4>{{ product.name }}</h4>
            <h2>{{ product.price }}$</h2>
            <span>Select Size</span>
            <select name="size">
                <option selected>XL</option>
                <option>XXL</option>
                <option>Small</option>
                <option>Large</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add To Cart</button>
            <h4>Description</h4>
            <span>{{ product.description }}</span>
        </div>
    </section>

    <script>
        const addToCartButton = document.querySelector('.single-pro-details button');
        addToCartButton.addEventListener('click', event => {
            event.preventDefault();
            const productId = '{{ product.id }}';
            const productName = '{{ product.name }}';
            const productPrice = '{{ product.price }}';
            const productImage = '{{ product.image_url }}';
            const productQuantity = document.querySelector('.single-pro-details input').value;
            const productSize = document.querySelector('.single-pro-details select[name="size"]').value;
            const product = {
                id: productId,
                name: productName,
                price: productPrice,
                image: productImage,
                size: productSize,
                quantity: productQuantity
            };
            console.log(product);
            addToCart(product);
        });
    </script>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>New Collection Design</p>
        <div class="pro-container product-list">
        </div>
    </section>

    <section id="newsletter" class="section-p1" class="section-m1">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>Stay up-to-date with the latest shoe trends, new arrivals, and exclusive deals. <span>Subscribe
                    today!</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Enter your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    {{> footer}}
    <script src="/cartScript.js"></script>
    <script src="/script.js"></script>
</body>

</html>